$beige: #f5e9e9;
$light_green: #e9f5ec;
$brown: #b56d6d;
$dark_green: #53a068;
$dark_brown: #752929;
$grey: #989898;
$blue: rgb(51, 51, 242);
$purple: rgb(109, 16, 109);
$yellow: rgb(134, 134, 32);

//fonts

$karla: "Karla", sans-serif;
$luckiest_guy: "Luckiest Guy", cursive;
$marck_script: "Marck Script", cursive;